<h1> Create Event </h1>
<%= form_for @event, {:class => "navbar-form"} do |form| %>
	
	<div id='event_creation_dialog'>
		<div class="input-group new_event_form_line">
			<span class="input-group-addon">Name</span>
			<%= form.text_field :name, {:class => "form-control", :placeholder => "Event Name"} %>
		</div>
		
		<div class="input-group new_event_form_line">
			<span class="input-group-addon">Start Time</span>
			<div class="input-group">
				<div class="input-group-btn">
					<%= form.time_select :start, {minute_step: 5, ampm: true}, {:class => "form-control", :style => "float:none; margin-right:10px; margin-left:-2px; width:75px;"} %>
				</div>
			</div>
		</div>

		<div class="input-group new_event_form_line">
			<span class="input-group-addon">End Time</span>
			<div class="input-group">
				<div class="input-group-btn">
					<%= form.time_select :end, {minute_step: 5, ampm: true}, {:class => "form-control", :style => "float:none; margin-right:10px; margin-left:-2px; width:75px;"} %>
				</div>
			</div>
		</div>

		<div class="input-group new_event_form_line">
			<span class="input-group-addon">Description</span>
			<%= form.text_area :description, {:class => "form-control", :placeholder => "Event Description"} %>
		</div>

		<button type='button' class='btn btn-default' onclick='continue_dialog();'>
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>

	</div>
	
	<div class="input-group new_event_form_line">
		<span class="input-group-addon">
			<%= form.check_box :public %>
		</span>
		<span class="form-control ignore_form_background">Public - all your friends can see this</span>
	</div>
	
	<div class="input-group new_event_form_line">
		<span class="input-group-addon">
			<%= form.check_box :allows_fof %>
		</span>
		<span class="form-control ignore_form_background">Include friends of friends - expand your social circle!</span>
	</div>

	<div id='friend_invite_dialog'>
		<h3>Invite friends</h3>
	    <input type="text" class="form-control" placeholder="Search" id='friend_searcher'> <br />
		
		<ul id='friend_list'>
			<% @friends.each do |friend| %>
				<li class='list-group-item friend' value=<%=friend.identifier%> > <%= friend.name%> </li> 
			<% end %>
		</ul>

		<script type="text/javascript">
			var search_box = new searchable_list("friend_list", "friend_searcher", "friend");
		</script>

		<div class='btn-group' id='event_create_buttons'>
			<button type='button' class='btn btn-default' onclick='back_dialog();'>
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<%= form.submit "Create Event", {:class => "btn btn-default submit_button"} %>
		</div>
	</div>
<% end %>
